.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-family: "comic sans ms", sans-serif;
  }
}

.input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;

  input{
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--pastel-yellow);
    &:focus{
      outline: none;
      border-color: var(--black);
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  button{
    align-self: self-end;
  }
}