.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100dvh;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  position: relative;
}

.footer{
  grid-column: 1/3;
  grid-row: 2
}

main{
  margin: 1rem 5rem 2rem;
  padding: 1rem 5rem 2rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
}