:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--black);
  --primary-color: #F0EADF;         
  --secondary-color: #A67C63;       
  --white: #FAFAF5;                 
  --black: #6B5C4E;                 
  --pastel-blue: #cce7f6;           
  --pastel-green: #ccf0db;          
  --pastel-pink: #f9cfe1;           
  --pastel-lavender: #e3d2f0;       
  --pastel-yellow: #fef9cd;         
  --dark-pastel-green: #7dbda2;     
  --dark-pastel-blue: #7c8bad; 
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

p,h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'comic sans ms', sans-serif;
}