:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --primary-color : #EFE7DA;
  --secondary-color : #B3907A;
  --white : #f5f5eb;
  --black : #8f8170;
  --pastel-blue: #d8eefa;      
  --pastel-green: #daf5e6;    
  --pastel-pink: #f7d8e8;     
  --pastel-lavender: #e6d9f5; 
  --pastel-yellow: #f9f5d8;
  --dark-pastel-green: #a9d1bb;
  --dark-pastel-blue: #98a8c1; 
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}